@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


.desc {
    font-family: 'Nunito', sans-serif;
    font-size : 17px;
}

.loc {
    font-family: 'Nunito-1', sans-serif;
    font-size : 15px;

}